<!-- UCJOB-1.2 Chọn thành viên đợt kiểm toán -->
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-offset-0 col-sm-3 col-xs-4">
            <label for="manager-ctvdktt" class="control-label">Manager<span class="star-red">*</span></label>
        </div>
        <div class="col-sm-3">
            <input id="manager-ctvdktt" type="text" data-ng-model="data.DotKiemToan.ManagerText" class="form-control" readonly />
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-offset-0 col-sm-3 col-xs-4">
            <label for="thanh-vien-dot-kiem-toan-ctvdktt" class="control-label">Thành viên đợt kiểm toán<span class="star-red">*</span></label>
        </div>
        <div class="col-sm-3">
            <select id="thanh-vien-dot-kiem-toan-ctvdktt" name="newUser" class="form-control vpbChosenJs" required ng-model="tab2User.PK_UserID" options="tab2LstUser" ng-options="u.PK_UserID as u.Name for u in tab2LstUser | filter: { IsThanhVienDotKiemToan: false}"></select>
            <div data-ng-show="myForm.newUser.$dirty">
                <span data-ng-show="myForm.newUser.$error.required" class="text-danger">Vui lòng chọn thành viên</span>
            </div>
        </div>
        <a class="btn btn-default" data-ng-click="insertUserFunc(tab2User.PK_UserID)">Thêm</a>
    </div>
</div>
<div class="body-table">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="color-green">
                <tr>
                    <th>Mã thành viên</th>
                    <th>Tên thành viên</th>
                    <th>Phòng ban</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tv in tab2LstUser | filter: { IsThanhVienDotKiemToan: true }">
                    <td>{{ tv.Name }}</td>
                    <td>{{ tv.FullName }}</td>
                    <td>{{ tv.PhongBan }}</td>
                    <td>
                        <a class="click-icon" href="#" data-ng-click="deleteUserFunc(tv)" title="Xóa">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-offset-0 col-sm-3 col-xs-4">
            <label for="upload-file-2" class="control-label">File đính kèm</label>
        </div>
        <div class="col-sm-3">
            <input id="upload-file-2" name="file2" type="file" ngf-select ng-model="picFile2" class="form-control" required />
        </div>
        <a type="button" ng-click="uploadPic(picFile2, 'tab2')" class="btn btn-default">Thêm</a>
    </div>
</div>
<div class="body-table">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="color-green">
                <tr>
                    <th>Tên file</th>
                    <th>Ngày cập nhật</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="file in tab2LstUploadFile">
                    <td>
                        <a href="{{ baseUrl }}{{ file.Path | limitTo:file.Path.length-2:2 }}">{{ file.Name }}</a>
                    </td>
                    <td>{{ file.CreateDate | date : 'dd/MM/yyyy HH:mm' }}</td>
                    <td>
                        <a class="click-icon" href="#" data-ng-click="deleteFilebyThanhVienFunc(file)" title="Xóa">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button type="button" class="btn btn-primary" data-ng-click="saveThanhVienFunc()">Lưu</button>